input[type=text], input[type=button], input[type=submit] {
-webkit-appearance: none;
-webkit-border-radius: 0;
}
#landing {
  height: 100%;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
canvas, button, .gradient-text {
  pointer-events: auto;
}
body, #landing, .text-box, .gradient, .footer {
  pointer-events: none;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: black;
  /* overflow: hidden; */
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
}
.chrome-body {
  height: 100vh;
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
.heading {
  font-size: larger;
}
.zarif {
  /* font-size: clamp(1rem, 0.4706rem + 2.8235vw, 4rem); */
  font-size: 4vw;
  width: max-content;
}
.zarif-2 {
  font-size: 2vw; 
  display: flex;
}
.heading, .zarif {
  font-weight:900;
}
.no-pointer {
  cursor: default;
}
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
  animation-fill-mode: forwards;
}
.anim-delay-2s {
	opacity: 0;
  animation-delay: 2s;
}
.anim-delay-4s {
	opacity: 0;
  animation-delay: 4s;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.body {
  font-size: large;
  width: max-content;
}
canvas {
  position: fixed;
  top:0;
  left:0;
  z-index: -1;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  vertical-align: middle;
}
.break {
  flex-basis: 100%;
  height: 0;
  margin-top: 20px;
}
.text-box {
  font-size: 60px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 7px;
  word-spacing: 12px;
  text-transform: uppercase;
  color:rgb(238, 238, 238);
  /* width: min-content; */

}
.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: row;
}
.button {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  /* padding: 15px; */
  padding: 12px;
  margin-left:20px;
  margin-right:20px;
  word-spacing: normal;
  letter-spacing: 5px;
  border: 1px solid white;
  background: black;
  cursor: pointer;
}
.button:hover {
  background: white;
  color: black;
}
.footer {
  bottom: 25px;
  position: fixed;
  height: fit-content;
  width: -webkit-fill-available;
}
.gradient-text {
  pointer-events: auto;
  background: linear-gradient(to right, red, blueviolet, royalblue, cyan, springgreen, gold, salmon);
  background-size: 200% 200%;
  animation: rainbow 5s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip:text;
  transition: color 1.5s ease-in-out;
}
.gradient-text:hover, .gradient-text.active {
  color:rgba(0,0,0,0);
  cursor: pointer;
}
@keyframes rainbow { 
  0%{background-position:left}
  50%{background-position:right}
  100%{background-position:left}
}


.svg-icon {
  color: white;
}
/* .black {
  color: black;
}
button:hover {
  background: lightgray;
} */
button{
  position: relative;
  border: none;
  cursor: pointer;
  background: none;
  padding: 13px;
  margin: 0px 20px;
}


button::before, button::after{
  content:"";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
}
button::before {
    background: linear-gradient(to right, blueviolet, royalblue, cyan);
}
button::after {
    background: linear-gradient(to left, gold, salmon);
}

span::before, span::after{
  content:"";
  width:2px;
  height:0;
  position: absolute;
  transition: all 0.2s linear;
}
span::before {
    background: linear-gradient(to top, salmon, red, darkviolet);
}
span::after {
    background: linear-gradient(to top, yellow, springgreen, cyan);
}
button:hover::before, button:hover::after{
  width: 100%;
}
button:hover span::before, button:hover span::after{
  height: 100%;
} 

/* .btn-2::before, .btn-2::after{
  transition-delay: 0s;
}
.btn-2 span::before, .btn-2 span::after{
  transition-delay: 0.2s;
}
.btn-2::before{
  right: 0;
  top: 0;
}
.btn-2::after{
  left: 0;
  bottom: 0;
}
.btn-2 span::before{
  left: 0;
  top: 0;
}
.btn-2 span::after{
  right: 0;
  bottom: 0;
}
.btn-2:hover::before, .btn-2:hover::after{
  transition-delay: 0.2s;
}
.btn-2:hover span::before, .btn-2:hover span::after{
  transition-delay: 0s;
} */

.btn-3::after{
  left: 0;
  bottom: 0;
  transition-delay: 0.6s;
}
.btn-3 span::after{
  transition-delay: 0.4s;
  right: 0;
  bottom: 0
}
.btn-3::before{
  right: 0;
  top: 0;
  transition-delay: 0.2s;
}
.btn-3 span::before{
  transition-delay: 0s;
  left: 0;
  top: 0;
}

.btn-3:hover::after{
  transition-delay: 0s;
}
.btn-3:hover span::after{
  transition-delay: 0.2s;
}
.btn-3:hover::before{
  transition-delay: 0.4s;
}
.btn-3:hover span::before{
  transition-delay: 0.6s;
}

@media (max-width: 460px) {
  .zarif {
    font-size: 5vw;
  }
  .zarif-2 {
    font-size: 3.5vw;
  }
}